* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', 'Helvetica Heue', sans-serif;
  color: #777;
  background: #777;
  width: 960px;
  font-size: 18px;
  text-align: center;
  margin: auto;
}

.Clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header, nav,
section, aside, footer {
  Background: #ebebeb
}

header {
  padding: 20px;
  margin: 10px; 
}

nav {
  padding: 20px;
  margin: 10px;
}

section {
  float: left;
  width: 60%;
  height: 250px;
  margin: 10px;
  padding: 25px;
}

aside {
  float: right;
  width: 35%;
  height: 250px;
  margin: 10px;
  padding: 25px;
}

article {
  background: #777;
  width: 95%;
  height: 170px;
  margin: auto;
  margin-top: 20px;
  color: white;
  padding: 10px;
}

h2 {
  background: #ebebeb;
  width: 90%;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
}

p {
  background: #ebebeb;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
}

footer {
  padding: 20px;
  margin: 10px;
}